@tailwind base;
@tailwind components;
@tailwind utilities;

.note-app {
  width: 100%;
}
.note-app .container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.note-container {
  padding: 5rem 0;
}

.note-card {
  background-color: rgb(65, 63, 63);
  border-top: 5px solid rgb(21, 192, 21);
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.note-card h2 {
  color: white;
}

.note-card p {
  color: grey;
}
